body{
    text-align: center;
    background-color: rgb(185, 243, 244);
    
    
}
.box{
   
    border: 4px solid rgb(63, 5, 86);
    border-radius: 10%;
    height: 130px;
    width: 130px;
    margin: 10px
}
.boxes{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(232, 57, 57);
}
.pink{
    background-color: rgb(68, 214, 68);
}
.green{
    background-color: rgb(224, 93, 224);
}
.blue{
    background-color: rgb(35, 188, 239);
}
.flash{
    background-color: aliceblue;
}
.userflash{
    background-color: rgb(23, 16, 2);
}